.background-blurred{
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 5vh;
  font-family: 'Bebas Neue', sans-serif;
}
