.container{
        overflow: hidden;
    }

    body{
      transition: all 1s ease;

    }
    .animate{
        opacity: 0;
        position: relative;
        animation: move 2s ease-in-out forwards;
        animation-delay: 800ms;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3vw;
        font-weight: 250;
        color:#212121;
        width: 40%;

    }

    @keyframes move {
        0% {left: 0px; opacity: 0;}
        80% {left: 12vw; opacity: 0;}
        100% {left: 13vw; opacity: 1;}
    }
    #vid{
      position: fixed;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }
    #invert-button {
      opacity: 0;
      position: relative;
      animation: butt 2s ease-in-out forwards;
      animation-delay: 1000ms;
      background-color: black;
      color: white;
      border: 2px solid black;
      padding: 2vh 2vw;
      font-size: 1vw;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 8px;
    }

    @keyframes butt{
      0% {left: 0px; opacity: 0;}
      80% {left: 12vw; opacity: 0;}
      100% {left: 13vw; opacity: 1;}
    }

    #invert-button:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 10px black;
    }

    #invert-button2 {
      opacity: 0;
      position: relative;
      animation: butt2 2s ease-in-out forwards;
      animation-delay: 1200ms;
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 2vh 1.3vw;
      font-size: 1vw;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 8px;
    }

    @keyframes butt2{
      0% {left: 0px; opacity: 0;}
      80% {left: 14vw; opacity: 0;}
      100% {left: 15vw; opacity: 1;}
    }

    #invert-button2:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 10px black;
    }

    .preview{
      position: fixed;
      top: 40vh;
      left: 13.5vw;
      width: 40vw;
      height: 50vh;
      overflow: hidden;
    }
    #preview-text{
      opacity: 0;
      position: relative;
      color: gray;
      animation: showtxt 1s 2200ms forwards, prv 5s 2200ms infinite linear;
    }

    @keyframes showtxt {
      0% {opacity: 0;}
      80% {opacity: 0;}
      100% {opacity: 1;}
    }
    @keyframes prv {
      0% {top: -200vh;}
      100% {top: 50vh;}
    }