.container{
  overflow: hidden;
}

@font-face {
  font-family: 'Vamos';
  src: url('vamos.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mera Pro';
  src: url('merapro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Necosmic';
  src: url('necosmic.otf');
}
@font-face {
  font-family: 'Tan-Kulture';
  src: url('tan-kulture.otf');
}
.animate{
  opacity: 0;
  position: relative;
  animation: move 2s ease-in-out forwards;
  animation-delay: 800ms;
  font-family: 'Necosmic';
  font-size: 2vw;
  color:#212121;
  width: 40%;
  
}
@keyframes move {
    0% {left: 0px; opacity: 0; scale: 1.3;}
    80% {left: 12vw; opacity: 0; scale: 1.3;}
    90% {left: 13vw; opacity: 1; scale: 1.3;}
    100% {left: 13vw; opacity: 1; scale: 1;}
}
.background{
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
#invert-button {
  opacity: 0;
  position: relative;
  animation: butt 2s ease-in-out forwards;
  animation-delay: 1000ms;
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 2vh 1vw;
  font-family: 'Vamos';
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
}

#invert-button:hover {
  background-color: white;
  color: black;

  box-shadow: 0 0 10px rgba(0,0,0,0.5),
              0 0 20px rgba(0,0,0,0.3);

  transform: scale(1.1);
}
#invert-button2 {
  opacity: 0;
  position: relative;
  animation: butt2 2s ease-in-out forwards;
  animation-delay: 1200ms;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 2vh 1vw;
  font-family: 'Vamos';
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
}

#invert-button2:hover {
  background-color: white;
  color: black;


  box-shadow: 0 0 10px rgba(0,0,0,0.5),
              0 0 20px rgba(0,0,0,0.3);


  transform: scale(1.1);
}
#invert-button3 {
  opacity: 0;
  position: relative;
  animation: butt3 2s ease-in-out forwards;
  animation-delay: 1300ms;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 2vh 1vw;
  font-size: 1vw;
  font-family: 'Vamos';
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#invert-button3:hover {
  background-color: white;
  color: black;

  box-shadow: 0 0 10px rgba(0,0,0,0.5),
              0 0 20px rgba(0,0,0,0.3);
  transform: scale(1.1);
}
@keyframes butt{
  0% {left: 0px; opacity: 0; scale: 1.3}
  80% {left: 12vw; opacity: 0; scale: 1.3}
  90% {left: 13vw; opacity: 1; scale: 1.3;}
  100% {left: 13vw; opacity: 1; scale: 1;}
}
@keyframes butt2{
  0% {left: 0px; opacity: 0; scale: 1.3}
  80% {left: 14vw; opacity: 0; scale: 1.3}
  90% {left: 15vw; opacity: 1; scale: 1.3}
  100% {left: 15vw; opacity: 1; scale: 1;}
}
.preview{
  position: fixed;
  top: 32vh;
  left: 13.5vw;
  width: 40vw;
  height: 50vh;
  overflow: hidden;
}
#preview-text{
  opacity: 0;
  position: relative;
  color: gray;
  animation: showtxt 1s 2200ms forwards, prv 5s 2200ms infinite linear;
}
@keyframes showtxt {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes prv {
  0% {top: -200vh;}
  100% {top: 50vh;}
}

.glass-menu {
  width: 90vw;
  height: 4vh;
  position: fixed;
  left: 50%;
  top: 100vh;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px) saturate(180%);
  padding: 8px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;

  animation: glassanimation 2s ease forwards;
  animation-delay: 1600ms;
}

@keyframes glassanimation{
  0% {top: 100vh;}
  80% {top: 100vh;}
  100% {top: 90vh;}
}

.menu-button{
  position: relative;
  font-family: 'Vamos';
  font-size: 1vw;
  color:#212121;
  margin: 0px 10px;
  background: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;

  transition: all 0.2s ease;
}

.menu-button:hover{
  background: white;
  transform: scale(1.1);
}

.popup{
  position: fixed;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 86vw;
  height: 75vh;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px) saturate(180%);
  padding: 50px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 4px 8px rgba(0,0,0,0.15);
  display: block;
  overflow-y: auto;    
  transition: all 1s ease;
}

.popup.show{
  transform: translate(-50%, -114%) scale(1);
}
.popup a{
  display: block;
  font-family: 'Vamos';
  text-align: center;
  margin: auto;
}
.popup p {
  display: block;
  font-family: 'Mera Pro';
  font-size: 2vw;
  text-align: center;
}
.popup img{
  margin: auto;
  display: block;           
  height: auto;
  border-radius: 20px;
}

#home{
  position: fixed;
  left: 0%;
  height: auto;
}

.close-button{
  position: absolute  ;
  left: 96%;
  top: 10px;
  height: auto;
}

.close-button:hover{
  background-color: rgba(155, 155, 155, 0.5);
}

#words{
  font-family: 'Tan-Kulture';
  font-size: 3vw;
  color: white;
  background: transparent;
  animation: words-animation 2s ease forwards;
  position: fixed;
  left: 100vw;
  width: 30px;
  animation-delay: 1500ms;
}

@keyframes words-animation{
  0% {left: 100vw; scale: 1.3}
  80% {left: 80vw; scale: 1.3}
  100% {left: 80vw; scale: 1}
}

#plant1{
  position: fixed;
  top: 0%;
  left: 0%;
  height: auto;
  transform: translate(-100%, -100%);
  background: transparent;
  border: none;
  z-index: -1;
  animation: forplant1 1s ease-out forwards;
  animation-delay: 3000ms;
}

#plant2{
  position: fixed;
  top: 100%;
  left: 100%;
  transform: translate(0%, 0%);
  background: transparent;
  border: none;
  height: auto;
  z-index: -1;
  animation: forplant2 1s ease-out forwards;
  animation-delay: 3000ms;
}

@keyframes forplant1{
  0% {transform: translate(-100%, -100%);}
  100% {transform: translate(-50%, -50%);}
}

@keyframes forplant2{
  0% {transform: translate(-0%, -0%);}
  100% {transform: translate(-60%, -60%);}
}