<!DOCTYPE html>
<html>
<head>
  <title>sigma</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

    <video id="vid" autoplay muted>
      <source src="knight3.mp4" type="video/mp4">
    </video>

    <br><br><br>

    <div class="container">
      <p class="animate">
        Please, Be My Guest
      </p>
    </div>

    <button id="invert-button">Join us</button>
    <button id="invert-button2">About me</button>

    <div class="preview">
      <pre id="preview-text"></pre>
    </div>

    <script>
      fetch("preview.txt")
      .then(reponse => reponse.text())
      .then(rep => {
        document.getElementById("preview-text").innerText = rep;  
      })
      document.getElementById("invert-button2").addEventListener("click", () => {
        alert("Prometheus, just a tech guy");
      });
      document.getElementById("invert-button").addEventListener("click", () => {
        alert("This is just a demo website");
      });
    </script>

</body>
</html>